<h1>Admin</h1>


<li><a href = 'admin_user_show'> <%=: 'Manage Users' | t%> </a></li>
<li><a href = 'admin_ticket_show'> <%=: 'Manage Tickets' | t%> </a></li>
<li><a href = 'admin_categ'> <%=: 'Manage Category' | t%> </a></li>
<li><a href = 'admin_module'> <%=: 'Manage Modules' | t%> </a></li>
