<h1>Member list</h1>
<% if (typeof user != 'undefined') { %>
	<table>
	<thead>
	<tr>
		<th>Login</th>
		<th>Group</th>
	</tr>
	</thead>
	<tbody>
	<% user_list.forEach(function(element){ %>
	<tr>
		<td><a href="show_profile_id?id=<%= element._id %>"> <strong><%= element.login %></strong> </a></td>
		<td><%= element.group %></td>
	</tr>
	<% }) %>
	</tbody>
	</table>
<% } %>
