<h1>Forum - Thread add answer</h1>
<br />
<br />
<form method = 'post'>
<input type='text' name='post[id_thread] 'values='<%= id_thread %>' hidden>
<textarea name = 'post[content]' placeholder = 'Post' rows = '16' cols = '97' required ></textarea>
<br/><input type = 'submit' value = 'OK'></input>
</form>