<h1><%=: 'login' | t%></h1>
<form method = 'post'>
	<input type = 'text' name = 'user[login]' placeholder = 'Login' required>
	<input type = 'password' name = 'user[passwd]' placeholder = 'Password' required>
	<input type = 'submit' value = 'OK'>
	<br />
</form>
