<h1>Ticket add answer</h1>
<br />
<br />
<form method = 'post'>
<input type='text' name='post[id_ticket] 'values='<%= id_ticket %>' hidden>
<textarea name = 'post[content]' placeholder = 'Post' rows = '16' cols = '97' ></textarea>
<br/><input type = 'submit' value = 'OK'></input>
</form>